[Unit]
Description=McStatusArchive
Wants=network-online.target
After=network-online.target

[Service]
SyslogIdentifier=mcstatusarchive
Type=forking
User=nix
WorkingDirectory=/home/nix/mcstatusarchive
ExecStart=/usr/bin/tmux -L mcstatusarchive new-session -d -s mcstatusarchive '/home/nix/mcstatusarchive/.venv/bin/python /home/nix/mcstatusarchive/src/main.py'
ExecStop=/usr/bin/tmux -L mcstatusarchive send-keys -t mcstatusarchive C-c
Restart=on-failure
RestartSec=5
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
